<!-- <h4>Hello Solar strategy! </h4> -->
<!-- <p> Generated {{N}} random numbers. </p>
<p v-text="msg"></p>
<q-slider v-model="N" label="true">slider text</q-slider> -->
<!-- <p>This is the default view for the application.</p> -->
<!-- <p>You can change this view by editing the file <code>app.jl.html</code>.</p> -->
<style>
  .stipple-core .container > .row > .st-col > .row:not(:first-child),
  .stipple-core .st-dashboard > .row > .st-col > .row:not(:first-child) {
    margin-top: 0rem;
  }
</style>
<div class="row" style="padding-top: 0px;">
    <div class="st-col st-module col-3">
      <div>
        <h1>Inputs</h1>
      </div>
        <!-- <hr/> -->
        <!-- <p> -->

          <!-- <h3>Specify route and weather data</h3> -->
          <q-select v-model="selected_track" :options="track_files" label="Select track" emit-value/>
          <q-select v-model="selected_weather" :options="weather_files" label="Select weather" />
          <br/>
          <!-- <plotly :data="[{
            type: 'scattermapbox',
            text: [ 10, 5 ],
            lon: [ -90.1744208, -90.9007405 ],
            lat: [ 38.0032799, 38.0021822 ],
            marker: { color: 'fuchsia', size: 4 }
          }]" :layout="{
            dragmode: 'zoom',
            mapbox: { style: 'open-street-map', center: { lat: 38, lon: -90 }, zoom: 3 },
            width: 400,
            height: 300,
            margin: {l: 0, r: 0, b: 0, t: 0, pad: 0}
          }"></plotly> -->
          <plotly :data="track_traces" :layout="track_layout"></plotly>
          <!-- <q-file filled outlined bottom-slots v-model="route_file" label="Select track data" counter max-files="1" accept=".csv">
            <template v-slot:before>
              <q-icon name="attachment" />
            </template>
    
            <template v-slot:append>
              <q-icon v-if="model !== null" name="close" @click.stop.prevent="model = null" class="cursor-pointer" />
            </template>

            <template v-slot:after >
              <q-btn
                color="primary"
                dense
                icon="cloud_upload"
                @click="upload"
                :disable="!canUpload"
                :loading="isUploading"
              />
            </template>
          </q-file> -->

          <!-- <q-file filled outlined bottom-slots v-model="weather_file" label="Select weather data" counter max-files="1" accept=".csv">
            <template v-slot:before>
              <q-icon name="attachment" />
            </template>
    
            <template v-slot:append>
              <q-icon v-if="model !== null" name="close" @click.stop.prevent="model = null" class="cursor-pointer" />
            </template>
    
            <template v-slot:after >
              <q-btn
                color="primary"
                dense
                icon="cloud_upload"
                @click="upload"
                :disable="!canUpload"
                :loading="isUploading"
              />
            </template>
          </q-file> -->

          <!-- <h3>Select starting point</h3> -->
          <div class="q-pa-md">
            <q-badge color="secondary">
              Starting point # {{ start_index }}
            </q-badge>
            <q-slider v-model="start_index" :min="1" :max="max_track_index" label="true">slider text</q-slider>
          </div>

          <h3>Select start datetime</h3>
          <!-- <div class="q-pa-md">
            <q-badge color="secondary">
              Selected date: {{ start_datetime }}
            </q-badge>
          </div> -->
          <div>
            <!-- <q-date v-model="start_datetime" mask="YYYY-MM-DD HH:mm" color="purple" title="Date" now-btn :dense="true" style="max-width: 20%"/>
            <q-time v-model="start_datetime" mask="YYYY-MM-DD HH:mm" color="purple" title="Time" now-btn style="width: 20%" format24h/> -->
            <template>
              <div class="q-pa-md">
                <q-input filled v-model="start_datetime">
                  <template v-slot:prepend>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                        <q-date v-model="start_datetime" mask="YYYY-MM-DD HH:mm:ss">
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                      <q-tooltip class="bg-accent">Select date</q-tooltip>
                    </q-icon>
                    <q-icon name="access_time" class="cursor-pointer">
                      <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                        <q-time v-model="start_datetime" mask="YYYY-MM-DD HH:mm:ss" now-btn format24h with-seconds>
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-time>
                      </q-popup-proxy>
                      <q-tooltip class="bg-accent">Select time</q-tooltip>
                    </q-icon>
                  </template>
            
                  <template v-slot:append>
                  <q-btn icon="update" 
                    v-on:click="set_time = !set_time">
                    <q-tooltip class="bg-accent">Set current time and date</q-tooltip>
                  </q-icon>
                  </template>
                  <!-- <template v-slot:append>
                    <q-btn icon="update"
                    v-on:click="set_time = !set_time"></q-icon>
                  </template>
                  <template v-slot:append>
                    <q-btn icon="access_time"
                    v-on:click="set_time = !set_time"></q-icon>
                  </template> -->
                </q-input>
              </div>
              
            </template>
          </div>
          <!-- <div class="q-gutter-md row">
            <q-btn
            label="Current time"
            v-on:click="set_time = !set_time"
            color="primary"
            style="display: block;"
            ></q-btn> 
          </div> -->
          <br/>
          <br/>

            <!-- <q-timeline-entry></q-timeline-entry> -->
            <!-- something I don't really need: https://quasar.dev/vue-components/timeline -->

            <!-- button to submit<br /> -->
            <!-- <q-btn :label="Start calculation" :type="submit" :color="primary"/> -->
            <q-btn
              label="Start calculation"
              color="primary"
              style="width: 80%; margin-left: 10%; margin-right: 10%;"
              :loading="is_calculating"
              :percentage="calculation_progress"
              v-on:click="calculating = !calculating"
              >
              <template v-slot:loading>
                <q-spinner-gears class="on-left" />
                Computing...
              </template>
            </q-btn>
            <br/>
            <!-- <p>{{my_msg}}</p>
            <p>calculating {{calculating}}. </p> 
            <p>is_calculating {{is_calculating}}. </p>
            <p>calculation_progress {{calculation_progress}}</p>
            <p>{{index_out}}</p> -->

            <!-- https://youtu.be/dffZTCDpiRs?t=2609 -->
        </p>
    </div>
    <div class="st-col st-module col-6">
      <div>
        <h1>How is it going</h1>
      </div>
        <!-- <plotly :data="[{
          type: 'scattermapbox',
          text: [ 10, 5 ],
          lon: [ -90.1744208, -90.9007405 ],
          lat: [ 38.0032799, 38.0021822 ],
          marker: { color: 'fuchsia', size: 4 }
        }]" :layout="{
          dragmode: 'zoom',
          mapbox: { style: 'open-street-map', center: { lat: 38, lon: -90 }, zoom: 3 },
          width: 400,
          height: 300,
          margin: {l: 0, r: 0, b: 0, t: 0, pad: 0}
        }"></plotly> -->
        <plotly :data="[{
      x: [2, 3, 4, 5],
      y: [16, 5, 11, 9],
      mode: 'lines',
      type: 'scatter'
    }]" :layout="{
      height: 250,
      margin: {l: 0, r: 0, b: 0, t: 0, pad: 0}
    }"></plotly>
        <plotly :data="[{
      x: ['giraffes', 'orangutans', 'monkeys'],
      y: [20, 14, 23],
      type: 'bar'
    }]" :layout="{
      height: 250,
      margin: {l: 0, r: 0, b: 0, t: 0, pad: 0}
    }"></plotly>
        <plotly :data="[{
      x: [2, 3, 4, 5],
      y: [16, 5, 11, 9],
      mode: 'lines',
      type: 'scatter'
    }]" :layout="{
      height: 250,
      margin: {l: 0, r: 0, b: 0, t: 0, pad: 0}
    }"></plotly>
    </div>
    <div class="st-col st-module col-sm">
      <div>
        <h1>Other content</h1>
      </div>
        <q-uploader label="Upload track data" accept=".csv" multiple="false" method="POST" url="http://localhost:9101/track" field-name="csv_file_track"></q-uploader>
        <q-uploader label="Upload weather data" accept=".json" multiple="false" method="POST" url="http://localhost:9101/weather" field-name="csv_file_weather"></q-uploader>
    </div>
</div>